{% extends "WebBundle:Default:body.html.twig" %}

{% block title %}
Empresa | SISA
{% endblock %}

{% block content %}

<div class="width-default">

  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="txt-azul">Nuestra galeria</h3>
    </div>
  </div>
  
  <div class="space"></div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="foto-galeria">
        <img src="{{ absolute_url( asset('image/galeria/galeria-foto1.jpg')) }}" alt="">
      </div>
    </div>

  </div>

  <div class="space"></div>

  <div class="row">
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
    <div class="col-md-2">
      <img src="{{ absolute_url( asset('image/galeria/icono-galeria1.png')) }}" alt="">
    </div>
  </div>

  <div class="space"></div>

</div>

{% endblock %}

{% block js %}

{% endblock %}