{% extends "WebBundle:Default:body.html.twig" %}

{% block title %}
Servicios | SISA
{% endblock %}

{% block content %}

<div class="width-default">

        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="txt-azul">Nuestros servicios</h3>
          </div>
        </div>
        
        <div class="space"></div>
        
        <div class="row">
          <div class="col-md-12">

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="servicio">
              <div class="row">
                <div class="col-md-4">
                  <div class="imagen-servicio">
                    <img src="{{ absolute_url( asset('image/servicios/servicio-1.png')) }}" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-servicio">
                    <h3 class="txt-blanco">Electricidad</h3>
                    <p class="txt-blanco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div>
                      <ul class="icono-servicio">
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                        <li><img src="{{ absolute_url( asset('image/servicios/servicio-icono1.png')) }}" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

          </div>
        </div>

      </div>

{% endblock %}

{% block js %}

{% endblock %}